<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>Layout Basica</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="contenedor">
		<header>
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Acerca de</a></li>
					<li><a href="#">Productos</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</nav>
		</header>

		<section class="main">
			<div class="imagen">
				<img src="img/fondo.jpg" width="700" height="700" alt="">
			</div>
			<section class="posts">
				<article>
					<h2>Título de Articulo</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et rhoncus tortor. Nam sollicitudin accumsan sapien, id vestibulum diam convallis posuere. Aliquam erat volutpat. Sed auctor lectus eros, sit amet consequat dolor mollis sed. Donec consectetur malesuada egestas. Phasellus varius nec mi auctor ultrices. Ut id metus eu sapien finibus tempor at sit amet justo. Curabitur ut tempus ex. Nullam tincidunt turpis in magna porttitor fermentum. Ut pretium neque enim, id commodo felis porta non. Sed scelerisque finibus ante sed tincidunt. Nam quis augue condimentum, imperdiet elit vitae, sollicitudin diam. Ut vel dignissim orci.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et rhoncus tortor. Nam sollicitudin accumsan sapien, id vestibulum diam convallis posuere. Aliquam erat volutpat. Sed auctor lectus eros, sit amet consequat dolor mollis sed. Donec consectetur malesuada egestas. Phasellus varius nec mi auctor ultrices. Ut id metus eu sapien finibus tempor at sit amet justo. Curabitur ut tempus ex. Nullam tincidunt turpis in magna porttitor fermentum. Ut pretium neque enim, id commodo felis porta non. Sed scelerisque finibus ante sed tincidunt. Nam quis augue condimentum, imperdiet elit vitae, sollicitudin diam. Ut vel dignissim orci.</p>
				</article>
			</section>
		</section>

		<aside>
			<div class="widget">
				<h3 class="titulo">Articulos Destacados</h3>
				<ul>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
				</ul>
			</div>

			<div class="widget">
				<h3 class="titulo">Información</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et rhoncus tortor. Nam sollicitudin accumsan sapien, id vestibulum diam convallis posuere. Aliquam erat volutpat. Sed auctor lectus eros, sit amet consequat dolor mollis sed. Donec consectetur malesuada egestas. Phasellus varius nec mi auctor ultrices. Ut id metus eu sapien finibus tempor at sit amet justo. Curabitur ut tempus ex. Nullam tincidunt turpis in magna porttitor fermentum. Ut pretium neque enim, id commodo felis porta non. Sed scelerisque finibus ante sed tincidunt. Nam quis augue condimentum, imperdiet elit vitae, sollicitudin diam. Ut vel dignissim orci.</p>
			</div>
		</aside>
		<footer>
			<p>Kevin Leichner 2020 - Todos los derechos reservados</p>
		</footer>
	</div>
</body>
</html>